<! DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Ideais - Casa Criativa</title>
        
        <link rel="stylesheet" href="style.css">
         <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">  
        
    </head>
    <body id="pageIdeas">
        <div id="container">
              <header>
            <a href="/"><img src="Images/27pdZLL%20-%20Imgur.png" alt="Logo" title="Casa Criativa"></a>
            <nav>
                <li><a href="/">Início</a></li>
               <li><a href="#" onclick="onOff()"  class="button">Nova ideia</a></li>
            </nav>
        </header>
        <section id="title">
            <p>Em exibição</p>
            <h1>Ideais</h1>
        </section>
        <main>
            <section id="ideas">
              
                {% include "all_ideas.html" %}
               
            </section>
        </main>
        <footer id="footer"><a href="https://rocketseat.com.br/" target="_blank">Com amor rockseat</a></footer>
        
        </div>
       
        {% include "modal.html" %}
      
       
        <!--Ligando o HTML com o JS--> 
      <script src="script.js"></script>
    </body>
</html>