<!DOCTYPE HTML>
<html>
    
    <head>
        
        <!-- responsavel pelas configurações da pag -->
        
        <meta charset="utf-8">

        <!-- Ligar o HTML com o CSS -->
        <link rel="stylesheet" href="style.css">
        
<!--        Link para baixar as fontes do google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">  
    </head>
    
    <body>
        
        <div id="container">
            
                { % block content %}
                { % endblock %}
            
        </div>
        
        {% include "modal.html" %}
        
      
       
        <!--Ligando o HTML com o JS--> 
      <script src="script.js"></script>
        
    </body>
    
</html>