/*
Outline é o atributo de cor que fica aparencendo no campo que o mouse seleciona
*/

/* 

Display block ocupa a linha toda.
Já o display in-line block os elementos são um do lado do outro na mesma linha.

*/

/*

Quando colocamos margens auto o conteúdo fica alinhado no meio.

*/

/* 

Sempre é adequado retirar a margin do body ( margem padrão 8px).

*/

/* 

Devemos regular a largura da pag para um tamanho exato (980px) ou caso a tela seja  menor que esse tamanho damos em porcentagem.

*/

/* 

Display flex serve para os filhos de uma tag se alinharem um do lado do outro, habilitando ele, poemos mexer em seu poscionamento.
Quando a habilitamos, nela temos a possibilidade de aling-center e justify content que centralizam o item no eixo Y e X respectivamente.

*/

/* 

O atributo cursor daz o mouse alterar a forma quando está o elemento.

*/

/* 

Qunado colocamos a tag e o :hover fazer com que se aplica o atributo css quand se passar o mouse.
Ex: button:hover{
    text-decoraton: underline.
}

*/

/* 

border-radius trabaçha no arredontamento.

*/

/* 

border-shadow: Trabalha na sombra do elemento.

*/

/*
    atributo overflor hidden tira a rolagem da pag.
*/

body {
    background: #e5e5e5;
    color: #25282B;
    margin: 0;
    font-family: 'Montserrat', sans-serif;;
    
}

body .hideScroll{
    overflow: hidden;
}

#modal .addScroll{
    overflow: auto;
}

a{
    color: #ff5E84;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.button:hover{
    text-decoration: none;
    background-color: #0984e3;
}
.button{
    background: #ff5E84;
    color: white;
    
    width: 150px;
    height: 40px;
    
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
    
    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    
}


p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container{
    width: 90%;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
    
}

#intro {
    width: 300px;
    margin-right: 20px;
}

main {
    margin: 30px 0;
}

button {
    border: none;
    font-weight: bold;
    color: #ff5E84;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    
    
}

button:hover{
    text-decoration: underline;
}

#button {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #777;
    
}

footer a {
    opacity: 0.8;
}

footer a:hover{
    font-weight: bold;
    color: #ff5E84;
}

.idea {
    display: flex;
    margin-left: 20px;
    margin-bottom: 32px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px -8px rgba(1,1,1,0.1);
    padding: 20px;
}

.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.idea p{
    color: #777;
    margin: 8px 0;
}

.idea .description{
    margin: 16px 0px;
    
}

/* MODAL */

/*
Para posicionar itens do HTML na frente podemos habilitar o position dixed e nele zerar todos os lados e deixar fixo.
*/

/*
Para centralizar um elemento filho podemos habilitar o display:flex e usando os metodos align-items e justify-content:, centralizaros na pag.
*/

/*
O atributo text-tranform é usado para tranformamos o texto para maisculo, mini=usculo ...
*/

/*
O elemento grid tem a funcionalidade de poscionar elementos o habilitando podemos fazer varias coisas.

Uma delas é separar nosso elemnto por colunas usando:
grid-template-colums: 1f 1f (assim criamos duas colunas).

Gap é o espaço entre as colunas e linhas.

Tambem podemos selecionar cada elemento por meio de mostrar qual elemento queremos e selecionar seu filho:
.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;
}
No caso expandimos até a segunda coluna.

Tambem podemos poscionar um elemento específico em uam determinada coluna com:
grid-column: 2

e a posciona dento da coluna com 
justify-self:end
*/


#modal {
    background: #ff5E84;
    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    height: 940px;
    
}

#modal .content {
    margin-top: 64px;
    
    color: white;
}

#modal .content h1{
    text-align: center;
    
    text-transform: uppercase;
}

#modal form{
    width: 80%;
    max-width: 800px;
    
    margin: 0 auto 64px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;
}

.input-wrapper{
    margin: 16px 0px;
}

form input, form textarea{
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    
    outline: none;
    
    font-size: 16px;
}

label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form button.save {
    margin-top: 32px;
    
    height: 40px;
    width: 150px;
    
    border-radius: 6px;
    
    cursor: pointer;
    
    grid-column: 2;
    justify-self: end;
    transition: 400ms;
}

form button.back {
    margin-top: 32px;
    
    height: 40px;
    width: 150px;
    
    border-radius: 6px;
    
    cursor: pointer;
    
    grid-column: 2;
    justify-self: end;
    
    transition: 400ms;
}


form button:hover{
    background-color: skyblue;
    color: white;
    text-decoration: none;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

/* IDEA.HTML*/

#pageIdeas #container {
    display: block;
}

#pageIdeas header {
    display: flex;
    justify-content: space-between;
}

#pageIdeas nav {
    display: flex;
    align-items: center;
}

#pageIdeas li {
    list-style-type: none;
    margin-right: 16px;
}

#pageIdeas li:last-child{
    margin: 0;
}

#pageIdeas li a{
    color: black;
}

#pageIdeas li a.button{
    color: white;
}

section#title{
    text-align: center;
    
    margin: 64px 0px;
}

section#title p {
    opacity: 0.7;
    margin: 0;
}

section#title h1{
    margin: 0;
    font-size: 28px;
}

#pageIdeas section#ideas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    grid-gap: 25px
}

#pageIdeas section#ideas .idea{
    margin: 0;
}

#pageIdeas footer{
    margin-top: 64px;
}